Bonjour <%= @user.email %>

===============================================

Voici le récapitulatif de votre réservation  <%= @billet %>:

  Aéroport de départ : <%= @flight.departure_airport %>
  Aéroport d'arrivé : <%= @flight.arrival_airport %>
  Heure de départ: <%= @flight.departure_date.strftime("%H:%M")%>
  Heure d'arrivé: <%= (@flight.departure_date + @flight.duration.minutes).strftime("%H:%M") %>
  Date de départ : <%= @flight.departure_date.strftime("%d/%m/%Y") %>
  N° de vol : <%= @flight.number %>
  Nombre de place : <%= @reservation.nombre_passage %>
  Place Choisi : <%= @reservation.class_seat %>

Merci d'avoir choisi AirCrash !

===============================================

Bonne continuation
AirCrash