<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bonjour <%= @user.email %> <br><br>

  Voici le récapitulatif de votre réservation <span style="font-weight: 900"> <%= @billet %></span> : <br><br>

  <ul>
    <li>Aéroport de départ : <%= @flight.departure_airport %></li>
    <li>Aéroport d'arrivé : <%= @flight.arrival_airport %></li>
    <li>Heure de départ: <%= @flight.departure_date.strftime("%H:%M")%></li>
    <li>Heure d'arrivé: <%= (@flight.departure_date + @flight.duration.minutes).strftime("%H:%M") %></li>
    <li>Date de départ : <%= @flight.departure_date.strftime("%d/%m/%Y") %></li>
    <li>N° de vol : AC <%= @flight.number %></li>
    <li>Nombre de place : <%= @reservation.nombre_passage %></li>
    <li>Place Choisi : <%= @reservation.class_seat %></li>
  </ul>

<p>Merci d'avoir choisi AirCrash !</p>

</p>
<p>Bonne continuation<br>AirCrash</p>
</body>
</html>